@use '../../styles/export.scss' as *;

.section {
	padding: 10.85rem 0;
	background-color: $color-greydefault;

	.head {
		display: grid;
		grid-template-columns: 1fr auto;
		margin-bottom: 4rem;
		.title {
			justify-self: start;

			p {
				font: inherit;
				letter-spacing: inherit;
				text-transform: inherit;
			}
		}

		.number {
			align-self: end;
		}
	}

	.items {
		display: flex;
		flex-direction: column;

		.item {
			display: grid;
			padding: 4rem 0;
			border-bottom: 1px solid $color-secondary-alpha-20;
			&:first-child {
				border-top: 1px solid $color-secondary-alpha-20;
			}

			.item_number {
				grid-column: span 4;
			}

			.content {
				grid-column: 5 / -2;
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.accordions {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
