@use '../../styles/export.scss' as *;

.article {
	display: flex;
	flex-direction: column;
	height: 100%;

	.image_wrapper {
		@include object-fit-wrap;
		height: 38rem;
		margin-bottom: 3rem;
		.image {
			@include object-fit;
		}
	}
	.title {
		margin-bottom: 1.5rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
	&.is_slider {
		height: auto;

		.content {
			flex: 0 0 10rem; // enough for a two-line title plus link
		}
	}
}
