@use '../../styles/export.scss' as *;

.article {
	.image_wrapper {
		@include object-fit-wrap;
		padding-top: 100%;
		background: lightgray;
		.image {
			@include object-fit;
		}
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			pointer-events: none;
			background: rgba(11, 35, 60, 0.8);
			mix-blend-mode: color;
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
		margin-top: 1.5rem;

		.badge {
			display: flex;
			height: 1.625rem;
			padding: 0 0.75rem;
			align-items: center;
			border-radius: 999px;
			border: 1px solid $color-secondary;
			font-size: 0.75rem;
		}
	}
}
