@use '../../styles/export.scss' as *;

.section {
	@include section-spacing;

	.content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&.singleImageSmall {
		.content {
			grid-column: 6 / span 6;
			grid-row: 1;

			.title {
				margin-bottom: 2.5rem;
			}
		}
		.image_wrapper {
			align-self: start;
			&.is_primary {
				grid-column: 2 / span 2;
				grid-row: 1;
				@include object-fit-wrap;
				padding-top: 100%;

				.image {
					@include object-fit;
				}
			}
		}
	}

	&.singleImageLarge {
		.content {
			grid-column: 1 / span 4;
			grid-row: 1;
		}
		.rich_text {
			grid-column: 10 / span 3;
			grid-row: 1;
			align-self: end;
		}
		.image_wrapper {
			align-self: start;
			&.is_primary {
				grid-column: 6 / span 3;
				grid-row: 1;
				@include object-fit-wrap;
				padding-top: 167%;

				.image {
					@include object-fit;
				}
			}
		}
	}

	&.doubleImage {
		.content {
			grid-column: 5 / span 4;
			grid-row: 1;
			gap: 1.5rem;
		}
		.image_wrapper {
			align-self: start;
			grid-row: 1;
			@include object-fit-wrap;
			&.is_primary {
				padding-top: 100%;
				grid-column: 2 / span 2;

				.image {
					@include object-fit;
				}
			}
			&.is_secondary {
				padding-top: 167%;
				grid-column: 10 / span 3;

				.image {
					@include object-fit;
				}
			}
		}
	}
}
