@use '../export.scss' as *;
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

body,
p,
.text-base {
	font-family: $font-primary;
	font-size: 1rem;
	font-style: normal;
	font-weight: 200;
	line-height: 140%; /* 28px */
	//letter-spacing: -0.05rem;
	@include mobile {
	}
}

.text-small {
	font-family: $font-primary;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 200;
	line-height: 140%; /* 25.2px */
}

.text-cpt,
.text-caption {
	font-family: $font-primary;
	font-size: 0.85rem;
	font-style: normal;
	font-style: normal;
	font-weight: 300;
	line-height: 140%; /* 22.4px */
	letter-spacing: 1.6px;
	text-transform: uppercase;

	@include mobile {
	}
}

.text-button {
	font-family: $font-primary;
	font-size: 0.85rem;
	font-style: normal;
	font-weight: 300;
	line-height: 140%; /* 25.2px */
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
	letter-spacing: -0.05rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5,
.title-h6 {
	font-family: $font-secondary;
}

.title-jumbo {
	font-size: 6rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@include mobile {
		font-size: 4rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

h1,
.title-h1 {
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%; /* 70.4px */
	letter-spacing: 3.2px;
	text-transform: uppercase;
	@include mobile {
		font-size: 2.625rem;
		font-style: normal;
		font-weight: 400;
		line-height: 110%; /* 46.2px */
		letter-spacing: 2.1px;
		text-transform: uppercase;
	}
}

h2,
.title-h2 {
	font-size: 2.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	@include mobile {
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
	}
}

h3,
.title-h3 {
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%; /* 39.6px */
	letter-spacing: 1.8px;
	text-transform: uppercase;
	@include mobile {
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: 110%; /* 35.2px */
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}
}

h4,
.title-h4 {
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	@include mobile {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
	}
}
h5,
.title-h5 {
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	@include mobile {
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
	}
}
h6,
.title-h6 {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	@include mobile {
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
	}
}

b {
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left: 1.5rem;
	li {
		padding-left: 0.5rem;
	}
}

blockquote {
	border-left: 1px solid $color-secondary;
	padding-left: 2rem;
}

.rich-text {
	h1,
	h2,
	h3,
	h4 {
		margin-bottom: 2rem;
	}
	h5,
	h6,
	p,
	blockquote {
		margin-bottom: 1rem;
	}
	ul,
	ol {
		margin-bottom: 1rem;
	}
	blockquote {
		padding-left: 1rem;
		border-left: 2px solid;
	}
	strong {
		color: var(--accent);
		font-weight: 400;
	}
}
