@use '../../styles/export.scss' as *;

.section {
	@include section-spacing;

	.title {
		grid-column: span 7;
		margin-bottom: 4rem;
	}
	.grid {
		display: grid;
		gap: 0rem;
		grid-template-columns: repeat(3, 1fr);
		&.is_news {
			grid-template-columns: 2fr 1fr;

			[data-entry-teaser-card] {
				border-bottom: 0px;
				&:first-child {
					[data-image-wrapper] {
						padding-top: 46.5% !important;
					}
				}
				&:last-child {
					border-right: 1px solid $color-secondary;
				}
			}
		}
	}

	.links {
		margin-top: 3rem;
		grid-column: span 12;
		display: flex;
		gap: $space-xs;
		align-items: center;
	}
}
