@use '../../styles/export.scss' as *;

.section {
	padding: 10.85rem 0;
	background-color: $color-greydefault;
}

.head {
	grid-column: span 6;
	margin-right: $space-md;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: calc(100vh - 10rem);
	padding-bottom: 3rem;

	.logo {
		width: 5rem;
		height: 5rem;
	}

	p {
		font: inherit;
		letter-spacing: inherit;
		text-transform: inherit;
	}
}

.form {
	grid-column: span 6;
	position: relative;
	max-height: calc(100vh - 12rem);
	display: flex;
	flex-direction: column;
}

.form_tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding-bottom: $space-sm;
	border-bottom: 1px solid $color-secondary;
}

.form_scroll {
	max-height: inherit;
	overflow-y: auto;
	padding-bottom: 15rem;
}

.form_tabs + .form_scroll {
	padding-top: $space-sm;
}

.form_overlay {
	position: absolute;
	inset: auto 0 0;
	height: 15rem;
	z-index: 1;
	pointer-events: none;
	background: linear-gradient($color-greydefault-alpha-0, $color-greydefault);
}

@include mobile {
	.head,
	.form {
		grid-column: span 12;
	}

	.head {
		margin: 0 0 $space-md;
	}
}
